@media (max-width: 500px) {
  html {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  nav h1 {
    font-size: large;
    text-align: center;
    padding: 1rem;
  }
  #container {
    left: 0;
    display: block;
    height: 550px;
    position: relative;
    overflow: hidden;
    background: url(/img/ic-time-tracking@2x.png) no-repeat center center/cover;
    background-size: 400px;
    background-position: left 80px bottom -120px;
  }

  .form-wrap .hero {
    display: none;
  }
  .form-wrap h1 {
    font-size: 24px;
    margin-bottom: 1px;
  }

  #what {
    height: 1000px;
  }

  #what h2 {
    font-size: 25px;
  }
  #what .what-text {
    height: 400px;
    width: 200px;
    margin: 1px;
    /* padding: 5px; */
    word-wrap: break-word;
    position: relative;
    bottom: 300px;
    left: 100px;
    color: black;
  }

  #what .what-text h4 {
    position: relative;
    top: 450px;
    left: 50px;
  }

  #what img {
    position: relative;
    left: 80px;
    bottom: -430px;
  }
  .dot {
    position: relative;
    top: 400px;
    left: 50px;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  /* Disabled for mobile */

  section .container {
    display: none;
  }

  .msform {
    display: none;
  }

  #msform {
    display: none;
  }

  #tabs {
    background: #ffffff;
  }
}
